<nav style="position:fixed; top: 0; width: 100%;"  class="navbar navbar-expand-sm navbar-dark bg-dark">
   <div class="logo">
          <a href="main.html">
            <img src="assets/books.png" alt="book"><label style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder; color:rgba(red, green, blue, alpha); margin-left: 10px; margin-right: 30px">LIBRARY APP</label>
          </a>
        </div>
        
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="main.html" >Home</a>
            </li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="">Academics</a>    
                    <a class="dropdown-item" href="">Non-Fiction</a>  
                    <a class="dropdown-item" href="">Reference materials</a>
                    <a class="dropdown-item" href="">other</a>              
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Help</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="">contact us</a>
                     <a class="dropdown-item" href="">Penalty details</a>
                     <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href=""></a>
                    
                </div>
            </li>
           
        
            
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            
            <li class="nav-item ">
                <a class="nav-link" href="login.html" data-loggedin="false">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html" data-loggedin="false">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-loggedin=true style="display: block;"> 
                    Welcome </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" onclick="logout()" data-loggedin=true >(Logout) </a>
            </li>
            
        </ul>
        
    </div>
</nav>
<script>
    var user = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
console.log("LOGGED_IN_USER", user);
if(user){
    console.log("User is logged in");
    // Hide menus which has data-loggedin=false
    // Show menus which has data-loggedin=true
    document.querySelectorAll(".nav-link[data-loggedin=false] , .nav-item[data-loggedin=false] , .dropdown-item[data-loggedin=false]").forEach(obj => obj.style.display= "none" );
    document.querySelectorAll(".nav-link[data-loggedin=true] , .nav-item[data-loggedin=true] , .dropdown-item[data-loggedin=true]").forEach(obj => obj.style.display= "block" );
}
else{
    console.log("User is not logged in");
    // Hide menus which has data-loggedin=true
    // Show menus which has data-loggedin=false
    document.querySelectorAll(".nav-link[data-loggedin=true] , .nav-item[data-loggedin=true] , .dropdown-item[data-loggedin=true]").forEach(obj => obj.style.display= "none" );
    document.querySelectorAll(".nav-link[data-loggedin=false] , .nav-item[data-loggedin=false] , .dropdown-item[data-loggedin=false]").forEach(obj => obj.style.display= "block" );
}
function logout(){
    window.location.href="login.html";
    localStorage.removeItem("LOGGED_IN_USER");
    
}
</script>